@import "./variables.css";

.main-container {
  padding: 180px 16px 60px 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts-info {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  min-width: 288px;
  max-width: 330px;
}

.mail-tel-text {
  &:hover {
    color: var(--active-color);
  }
  &:active {
    color: var(--active-color);
  }
}

.mail-tel-link {
  color: var(--dark-color);
  &:hover {
    color: var(--active-color);
  }
  &:active {
    color: var(--active-color);
  }
}

.get-in-tought {
  margin: 0 auto;
  width: 100%;
  min-width: 288px;
  max-width: 330px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-text {
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  padding-left: 12px;
  &:hover {
    border-color: var(--active-color);
  }
  &:focus {
    border-color: var(--active-color);
  }
}

.textarea-text {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  padding-left: 12px;
  &:hover {
    border-color: var(--active-color);
  }
  &:focus {
    border-color: var(--active-color);
  }
}

.btn-get-in-tought {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  background-color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

  &:hover {
    background-color: var(--active-color);
  }
  &:focus {
    background-color: var(--active-color);
  }
}

@media screen and (min-width: 744px) {
  .main-container {
    flex-direction: row;
    padding: 160px 36px 60px 36px;
    width: 672px;
  }

  .contacts-info {
    max-width: 420px;
  }

  .mail-tel-text {
    font-size: 18px;
  }
  .mail-tel-link {
    font-size: 18px;
  }

  .contacts-text {
    height: 32px;
    font-size: 18px;
  }

  .get-in-tought {
    max-width: 420px;
  }
  .textarea-text {
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .main-container {
    width: 1128px;
  }

  .contacts-info {
    max-width: 520px;
  }

  .mail-tel-text {
    font-size: 22px;
  }
  .mail-tel-link {
    font-size: 22px;
  }

  .contacts-text {
    height: 40px;
    font-size: 22px;
  }

  .get-in-tought {
    max-width: 520px;
  }

  .input-text {
    height: 40px;
    font-size: 22px;
  }
  .textarea-text {
    height: 60px;
    font-size: 22px;
  }

  .btn-get-in-tought {
    height: 40px;
    font-size: 24px;
    border: 2px solid var(--dark-color);
  }
}
