@import "./variables.css";

/* Main */

.main-container {
  padding: 180px 16px 140px 16px;
  margin: 0 auto;
}

.section-filters-container {
  width: 100%;
  min-width: 320px;
  max-width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
  margin-bottom: 36px;
}

.data-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-btn-mobile {
  width: 100px;
  height: 40px;
  border-radius: 1000px;
  background-color: var(--light-color);
  color: var(--dark-color);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap-data {
  display: flex;
  align-items: center;
  font-weight: 450;
  gap: 6px;
}

.data-day {
  font-size: 50px;
  display: flex;
  align-items: start;
  line-height: 1;
  letter-spacing: -1px;
}

.data-month {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.data-year {
  font-size: 12px;
}

.filters-wrap {
  width: 444px;
  margin-top: 20px;
}

.form-select {
  width: 100%;
  min-width: 320px;
  max-width: 444px;
  cursor: pointer;
  background-color: var(--purple-color);
  color: var(--dark-color);
  font-size: 18px;
  margin-bottom: 20px;
}

.wrap-filter-isCompleted {
  display: flex;
  gap: 16px;
}
.btn-isCompleted {
  border: none;
  background-color: transparent;
  color: var(--dark-color);
  font-size: 24px;
  &:hover {
    color: var(--active-color);
  }
  &:active {
    color: var(--active-color);
  }
}

.container-task-list {
  width: 100%;
  min-width: 320px;
  max-width: 444px;
  margin: 0 auto;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 32px;
}

.task-item {
  width: 100%;
  display: flex;
  gap: 20px;
  border: 3px solid var(--dark-color);
  border-radius: 12px;
  padding: 12px;
  margin: 0 auto;
}

.icon-notCompleted {
  cursor: pointer;
  margin-top: 14px;
  &:hover {
    fill: var(--active-color);
  }
  &:active {
    fill: var(--active-color);
  }
}

.icon-completed {
  cursor: pointer;
  margin-top: 14px;
  &:hover {
    fill: var(--active-color);
  }
  &:active {
    fill: var(--active-color);
  }
}

.done-icon {
  width: 32px;
  height: 32px;
}

.wrap-content {
  width: 100%;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-task {
  font-size: 28px;
  margin-bottom: 0;
}

.icons-container {
  display: flex;
  gap: 12px;
}

.icon-btn {
  border: none;
  background-color: transparent;
}

.svg-icon {
  fill: var(--dark-color);
  transition: fill 0.3s ease;
  &:hover {
    fill: var(--active-color);
  }
  &:active {
    fill: var(--active-color);
  }
}

.category-task {
  font-size: 16px;
  margin-top: 4px;
}

.description-task {
  font-size: 18px;
  margin-top: 10px;
}

.dedline-data-task {
  font-size: 18px;
  margin-top: 10px;
}

.title-task-completed {
  font-size: 28px;
  margin-bottom: 0;
  text-decoration-line: line-through;
}

.description-task-completed {
  font-size: 18px;
  margin-top: 10px;
  text-decoration-line: line-through;
}

/* Footer */

.footer-container {
  width: 100%;
  height: 80px;
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: auto;
}

.active-filter {
  text-decoration: underline;
}

@media (min-width: 744px) {
  .main-container {
    padding: 160px 24px 140px 24px;
  }

  .section-filters-container {
    max-width: 720px;
    margin-bottom: 36px;
  }

  .add-btn-mobile {
    width: 160px;
    height: 60px;
    font-size: 24px;
  }

  .filters-wrap {
    max-width: 720px;
    margin-top: 24px;
  }
  .wrap-data {
    display: flex;
    align-items: center;
    font-weight: 450;
    gap: 10px;
  }

  .data-day {
    font-size: 72px;
  }

  .data-month {
    font-size: 24px;
  }

  .data-year {
    font-size: 20px;
  }

  .form-select {
    font-size: 20px;
  }

  .wrap-filter-isCompleted {
    gap: 28px;
  }
  .btn-isCompleted {
    font-size: 28px;
  }

  .container-task-list {
    max-width: 720px;
  }

  .footer-container {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    padding: 200px 80px 140px 80px;
  }

  .section-filters-container {
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 58px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .add-btn-mobile {
    display: none;
  }

  .wrap-data {
    gap: 10px;
  }

  .data-day {
    font-size: 104px;
  }

  .data-month {
    font-size: 36px;
  }

  .data-year {
    font-size: 24px;
  }

  .container-task-list {
    max-width: 1040px;
  }

  .title-task {
    font-size: 40px;
    margin-bottom: 0;
  }

  .category-task {
    font-size: 20px;
    margin-top: 8px;
  }

  .description-task {
    font-size: 24px;
    margin-top: 16px;
  }

  .dedline-data-task {
    font-size: 20px;
    margin-top: 16px;
  }

  .title-task-completed {
    font-size: 40px;
    margin-bottom: 0;
  }

  .description-task-completed {
    font-size: 24px;
    margin-top: 16px;
  }
}

@media (min-width: 1440px) {
  .section-filters-container {
    max-width: 1280px;
  }

  .container-task-list {
    max-width: 1280px;
  }
}
